<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <title><?=$top_title . ' | ' . c('site_name') ?></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/style.css" type="text/css" >
    <?php if( isset($css) && is_array( $css ) ): ?>
    <?php foreach( $css as $cfile ): ?><link rel="stylesheet" type="text/css" href="static/css/<?=$cfile?>">
    <?php endforeach; ?>
    <?php endif; ?>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  </head>    
  <body>
    <?php @include_once( dirname(__FILE__) ) . DS . 'header.tpl.html'; ?>  

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3" style="z-index: 1;">
          <?php	
          $tfile = 'view' . DS . 'layout' . DS  . g('layout') . DS . 'side' . DS . g('c') . DS . g('a') . '.tpl.html';
          if( file_exists( AROOT . $tfile ) ) include( AROOT . $tfile );
          else @include( CROOT . $tfile );
          ?>
        </div><!--/span-->

        <div id="showSide" class="hide" style="position: absolute; left: 0px; height: 480px; line-height: 480px;">
          <i class="icon-chevron-right"></i>
        </div>

        <div class="span9">
          <?php 
          $tfile = 'view' . DS . 'layout' . DS  . g('layout') . DS . 'main' . DS . g('c') . DS . g('a') . '.tpl.html';
          if( file_exists( AROOT . $tfile ) ) include( AROOT . $tfile );
          else @include( CROOT . $tfile );
          ?>
        </div><!--/span-->
      </div><!--/row-->

      <?php @include_once( dirname(__FILE__) ) . DS . 'footer.tpl.html'; ?>

    </div><!--/.fluid-container-->

    <div id="errorModal" class="modal hide fade">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>错误</h3>
      </div>
      <div class="modal-body">
        <p id="modalErrorMsg"></p>
      </div>      
      <div class="modal-footer">
        <a href="#" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">确定</a>
      </div>
    </div>

    <div id="changePasswordModal" class="modal hide fade">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>修改密码</h3>
      </div>
      <div class="modal-body">
        <div id="alertContainer"></div>
        <form class="form-horizontal" id="changePasswordForm">
          <div class="control-group">
            <label class="control-label">旧密码</label>
            <div class="controls">
              <input class="input-xlarge" type="password" id="oldpassword">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">新密码</label>
            <div class="controls">
              <input class="input-xlarge" type="password" id="newpassword">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">重新输入新密码</label>
            <div class="controls">
              <input class="input-xlarge" type="password" id="repeatpassword">
            </div>
          </div>
        </form>
      </div>      
      <div class="modal-footer">
        <a href="javascript:post_new_password();" class="btn btn-primary">确定</a>
        <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">取消</a>
      </div>
    </div>

    <script src="http://lib.sinaapp.com/js/jquery/1.7/jquery.min.js"></script>
    <script src="static/script/bootstrap.min.js"></script>
    <script src="static/script/sha1.js"></script>
    <script src="static/script/aes.js"></script>
    <script src="static/script/rsa.js"></script>
    <script src="static/script/app.js"></script>
    <script src="static/script/loadmap.js"></script>
    <?php if( isset($js) && is_array( $js ) ): ?>
    <?php foreach( $js as $jfile ): ?><script type="text/javascript" src="static/script/<?=$jfile;?>" ></script>
    <?php endforeach; ?>
    <?php endif; ?>

  </body>
</html>
