<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/"><?=c('site_name')?></a>
      <div class="nav-collapse">
        <?php if(!(g('c') == 'app' && g('a') == 'login')): ?>
        <ul class="nav">
          <li<?php if( g('c') == 'default' ): ?> class="active"<?php endif; ?>><a href="?c=default">首页</a></li>
          <li<?php if( g('c') == 'admin' ): ?> class="active"<?php endif; ?>><a href="?c=admin">管理</a></li>
        </ul>
        <?php endif; ?>
      </div><!--/.nav-collapse -->
      <ul id="usermenu" class="nav pull-right<?php if(!$auth):?> navbar-hide<?php endif;?>">
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-user"></i>&nbsp<span><?=$username?></span><b class="caret"></b></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="javascript:change_password();">修改密码</a></li>
            <li><a href="javascript:logout();">退出登录</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
