<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <title><?=$top_title . ' | ' . c('site_name') ?></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <style type="text/css">
      div.row
      {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: 0px;
      }
      div.well
      {
        margin: 0px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="span5 well">
          <form class="form-horizontal" id="loginform">
            <legend>登录</legend>
            <div class="alert alert-error hide">
              <strong>登录失败！</strong>请检查用户名与密码。
            </div>
            <input class="span2" type="text" id="username" placeholder="用户名">
            <input class="span2.5" type="password" id="password" placeholder="密码">
            <button type="submit" class="btn btn-primary">登录</button>
          </form>
        </div>
      </div>
    </div>

    <script>
      page = 'login';
      navigateTo = '<?=$to;?>';
    </script>

    <script src="static/script/jquery-1.9.1.min.js"></script>
    <script src="static/script/bootstrap.min.js"></script>
    <script src="static/script/sha1.js"></script>
    <script src="static/script/aes.js"></script>
    <script src="static/script/rsa.js"></script>
    <script src="static/script/app.js"></script>

    <script>
      $(document).ready(function() {
        var adjustPosition = function() {
          $('div.row').
            css('margin-top', -($('div.row').height() / 2) + 'px').
            css('margin-left', -($('div.row').width() / 2) + 'px');
        };
        adjustPosition();
        $(window).resize(adjustPosition);
      });
    </script>
  </body>
</html>
